<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <
  </head>
  <body>
  <%name = "Beyonce"%> 
  <!--Defining a variable (command ? is how you comment-->
  <p><%= "Hello my name is #{name}></p>
  </body>
</html>



